@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Ojuju:wght@200..800&display=swap');

:root {
    --primary-color: #F1EBD9;
    --secondary-color: #D86B44;
    --tertiary-color: #8DAEBF;
    --accent-color: #FFFFFF;
    --heading-font-family: "Ojuju", sans-serif;
    --body-font-family: "Karla", sans-serif;
    --block-border-radius: 15px;
    --field-border-radius: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font-family);
    font-weight: 500;  
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header {
    position: absolute;
    top: 1.4rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

#title, 
h2 {
    font-family: var(--heading-font-family);
}

#title {
    font-weight: 800;
    font-size: 2rem;
    fill: var(--tertiary-color);
}

#title-symbol {
    font-size: 7.5rem;
    fill: var(--secondary-color);
}

h2 {
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
}

#main-content {
    padding: 2rem;
    display: flex;
}

#main-content > div {
    flex: 1;
}

#tool-container {
    color: var(--primary-color);
}

#toolbar {
    display: flex;
    border-radius: var(--block-border-radius) var(--block-border-radius) 0 0;
}

#toolbar-content {
    flex: 2;
    padding: 1rem;
    background-color: var(--secondary-color);
    border-radius: var(--block-border-radius) var(--block-border-radius) 0 0;
}

#toolbar nav { 
    display: flex;
    flex-wrap: wrap;
}

#toolbar nav button,
.tool button {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 1.5px solid var(--primary-color);
    font-weight: 700;
    font-size: 0.9rem;
    text-transform: uppercase;
}

#toolbar nav button {
    flex-grow: 1; 
    max-width: 50%;
    margin: 0.4rem;
    padding: 0.5rem 0.7rem;
    font-size: 0.75rem;
}

#toolbar nav button:hover,
.tool button:hover,
#toolbar .active {
    background-color: var(--primary-color);
    color: var(--secondary-color); 
}

#toolbar nav button:hover,
.tool button:hover {
    transition: 0.2s;
}

#toolbar-gap {
    flex: 1;
    position: relative;
}

#toolbar-square,
#toolbar-ellipse {
    position: absolute;
    bottom: 0;
}

#toolbar-square {
    width: 1rem;
    height: 1rem;
    background-color: var(--secondary-color);
}

#toolbar-ellipse {
    width: 2rem;
    height: 2rem;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.tool {
    height: calc(100% - 4.6rem);
    padding: 4rem 2rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 0 var(--block-border-radius) var(--block-border-radius) var(--block-border-radius);
}

.tool label {
    margin-left: 8px;
    font-size: 0.9rem;
}

.tool p,
.tool ul {
    margin-top: 2rem;
}

.tool input,
.tool select, 
.tool textarea,
.tool button,
#toolbar nav button {
    display: block;
    border-radius: var(--field-border-radius);
}

.tool input, 
.tool select,
.tool textarea {
    width: 100%;
    margin-top: 0.25rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
}

.tool input:focus,
.tool select:focus,
.tool textarea:focus {
    outline: none;
}

.tool input {
    height: 30px;
    padding: 0 12px;
}

.tool select {
    height: 30px;
    padding: 0 8px;
}

.tool textarea {
    height: 8rem;
    padding: 6px 10px;
    border-radius: var(--block-border-radius);
    resize: none;
}

.tool button {
    margin-top: 2rem;
    padding: 0.5rem 1.2rem;
    background-color: var(--secondary-color);
}

#result-container {
    padding: 8.6rem 4rem 2rem 4rem;
    color: var(--tertiary-color);
}

#result {
    display: flex;
    justify-content: center;
}

#result p,
#result ul {
    display: inline-block;
}

#result p {
    margin-top: 2rem;
}

#result ul {
    margin-top: 1.5rem; 
}

#result li {
    margin-top: 0.5rem;
}

#size-message {
    display: none;
}

/* Rules for 930px and less */
@media only screen and (max-width: 930px) {
    header,
    #main-content {
        display: none;
    }

    #size-message {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}